<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>スプラトゥーン ブキ一覧</title>
</head>
<body>
  <h2>スプラトゥーン ブキ一覧</h2>
  <table>
    <tr><th>ID</th><th>ブキ名</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr>
          <td><%= row.id %></td>
          <td><a href="/splatoon/<%= number %>"><%= row.name %></a></td>
        </tr>
        <% number += 1 %>
      <% } %>
  </table>
  <br>
  <a href="/splatoon/create">新規追加</a>
</body>
</html>